fastapi
uvicorn
python-dotenv
sqlalchemy
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-google-genai==2.0.9
langchain-huggingface==0.1.2
pydantic>=2.0.0
sentence-transformers
pgvector
feedparser
psycopg2-binary